<div id = 'header'>
<body id="page-top" class="index" data-pinterest-extension-installed="cr1.3.4">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-tabs navbar-nav navbar-right">
                
                <% if user_signed_in? %>
                
                <li href="#signout">
                    
                    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
                
                </li>
                <li>
                    <%= current_user.name %>
                </li>

                <li href="#panier">
                    
                    <%= link_to 'Panier', home_show_path, target: :_blank %>
                
                </li>

                <li href="#edit">
                    
                    <%= link_to 'Edit', edit_user_registration_path , target: :_blank %>
                
                </li>
                <li value="Refresh Page" onClick="window.location.reload()" href="#acceuil">
                <%= link_to 'acceuil', home_index_path %>
                </li>
                
                    <%else%>
                    
                    <li value="Refresh Page" onClick="window.location.reload()" href="#acceuil">
                    <%= link_to 'Acceuil', home_index_path, target: :_blank  %>
                </li>
                           <li href="#signin">
                            
                               <%= link_to 'Sign in', new_user_session_path, target: :_blank  %>
                           
                           </li>
                           <li href="#signup">
                            
                               <%= link_to 'Sign up', new_user_registration_path, target: :_blank %>
                           
                           </li>
                       <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</div>



</body>